<a href="https://colab.research.google.com/github/Elman295/Deep-Learning-Course-INFO/blob/main/CI_python_and_Introduction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#`Preliminaries`



1.   Linear Algebra
2.   Calculus
3.   Probability and Statistics

#`Which language??`



1.   I prefer to use Python in this course. (BUT you can use any other languages like Java, c#, JS and so on )


2.   why Python?
   1.   Easy to learn
   2.   Different libs (PyTorch, TensorFlow and so on)
   3.   well-documented resources
   4.   Trend in many AI projects ([Source](https://www.statista.com/chart/21017/most-popular-programming-languages/))

#`Installation`



*   Your simplest option is to install [Miniconda](https://docs.conda.io/projects/miniconda/en/latest/). Note that the Python 3.x version is required.

*INSTALL PYTORCH :*

![1.PNG]()



---



---



#`Syllabus`



1.   Python
2.   Numpy and Matplotlib
3.   PyTorch
4.   Image classification (MLP, CNN and Transfer learning)
5.   DML (Deep Metric Learning)
6.   Face recognition (with DML and Triplet Loss Function)
7.   Autoencoder (Encoder and Decoder structures)
8.   GAN
9.   DCGAN
10.  Robotic vision
11.  NLP basics (Tokenization and Vectorization)
12.  RNN
13.  LSTM
14.  Text classification (spam detection)
15.  Hugging Face (Transformers structures)
16.  Text summarization
16.  Question/Answer (Chatbot)



---

#`Projects and Credits`



1.   Project
2.   Credits for Kaggle challenges (only one group)



---

In [ ]:
print("Hello, world!!") # hello python

Hello, world!!

In [ ]:
name = "Ali"
age = 20
height = 180.3
is_boy = True

print(name)
print(age)
print(height)
print(is_boy)

Ali
20
180.3
True

In [ ]:
print(type(name))
print(type(age))
print(type(height))
print(type(is_boy))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [ ]:
print(f"Hello, {name}")

Hello, Ali

In [ ]:
a = 5
b = 3

In [ ]:
print(a + b)
print(a - b)
print(a * b)
print(a ** b)
print( a / b)
print( a // b)

8
2
15
125
1.6666666666666667
1

In [ ]:
a = "Ali"
b = "Reza"
print(a + ", " + b)

Ali, Reza

In [ ]:
a = True
b = False

print(a and b)
print(a or b)
print(not a)

False
True
False

In [ ]:
a = 12 > 5
print(a)

True

In [ ]:
print ( 2 == 2)

True

In [ ]:
print((12>5) and (5 > 10))

False

In [ ]:
a = 12 ** 12
len_a = len(str(a))
print(len_a)

13

In [ ]:
names = ["Ali", "Reza", "Sara"]
ages = [19, 20, 25]
heights = [180.2, 170.0, 184.6]
is_boy = [True, True, False]

In [ ]:
print(type(names))

<class 'list'>

In [ ]:
print(names[0])
print(names[1])
print(names[2])
print(names[-1])

Ali
Reza
Sara
Sara

In [ ]:
print(f"Name: {names[0]} \n Age: {ages[0]} \n Height: {heights[0]}")

Name: Ali
 Age: 19
 Height: 180.2

In [ ]:
names.append("Mohsen")
print(names)

['Ali', 'Reza', 'Sara', 'Mohsen']

In [ ]:
names.pop()
print(names)

['Ali', 'Reza', 'Sara']

In [ ]:
print(names.index("Reza"))

1

In [ ]:
names.insert(3, "Mohsen")
print(names)

['Ali', 'Reza', 'Sara', 'Mohsen']

In [ ]:
names.sort()
print(names)

['Ali', 'Mohsen', 'Reza', 'Sara']

In [ ]:
ages.sort()
print(ages)

[19, 20, 25]

In [ ]:
ages.sort(reverse = True)
print(ages)

[25, 20, 19]

In [ ]:
names.remove("Mohsen")
print(names)

['Ali', 'Reza', 'Sara']

In [ ]:
numbers = [1,2,5,8,9,10,100,12,14,15]

In [ ]:
print(len(numbers))

10

In [ ]:
n_1 = numbers[0:5]
print(n_1)

[1, 2, 5, 8, 9]

In [ ]:
n_2 = numbers[:5]
print(n_2)

[1, 2, 5, 8, 9]

In [ ]:
n_3 = numbers[5:]
print(n_3)

[10, 100, 12, 14, 15]

In [ ]:
n_4 = numbers[:]
print(n_4)

[1, 2, 5, 8, 9, 10, 100, 12, 14, 15]

In [ ]:
matrix = [[1,2],[3,4]]
print(len(matrix))

2

In [ ]:
print(matrix[0])

[1, 2]

In [ ]:
print(matrix[0][0])

1

In [ ]:
print(matrix[-1][-1])

4

In [ ]:
name_age = {
    "Ali": 19,
    "Reza": 20
}
print(type(name_age))

<class 'dict'>

In [ ]:
print(name_age.keys())
print(name_age.values())

dict_keys(['Ali', 'Reza'])
dict_values([19, 20])

In [ ]:
name = "Ali"
if name == "Ali":
  print("OK")

OK

In [ ]:
a = int(input("Please enter your first number:"))
b = int(input("Please enter your second number:"))
op = input("Please enter your operation:")

if op == "+":
  print(a + b)
elif op == "-":
  print(a - b)
elif op == "*":
  print(a * b)
else:
  print(a / b)

Please enter your first number:15
Please enter your second number:20
Please enter your operation:/
0.75

In [ ]:
i = 0
while i < 10:
  print(i)
  i +=1

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(10):
  print(i, end = ", ")

0, 1, 2, 3, 4, 5, 6, 7, 8, 9,

In [ ]:
numbers = [1,2,3,4,5]
for i in range(len(numbers)):
  print(numbers[i])

1
2
3
4
5

In [ ]:
for i in numbers:
  print(i)

1
2
3
4
5

In [ ]:
i = 0
while i < len(numbers):
  print(numbers[i])
  i += 1

1
2
3
4
5

In [ ]:
sum = 0
for i in numbers:
  sum += i
print(sum)

15

In [ ]:
prod = 1
for i in numbers:
  prod *= i

print(prod)

120

In [ ]:
name_age = {
    "Ali": 19,
    "Reza": 20
}

for key, value in name_age.items():
  print(f"{key}: {value}")

Ali: 19
Reza: 20

In [ ]:
names = ["Ali", "Reza", "Sara"]
ages = [19, 20, 25]

for name, age in zip(names, ages):
  print(f"{name}, {age}")

Ali, 19
Reza, 20
Sara, 25

In [ ]:
print(range(10))

range(0, 10)

In [ ]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
print(list(range(10,200,2)))

[10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198]

In [ ]:
def say_hello(name, age):
  return f"{name} : {age}"

In [ ]:
print(say_hello("Ali",19))

Ali : 19

In [ ]:
def split_odd_even(array):
  odd = []
  even = []
  for i in array:
    if i % 2 == 0:
      even.append(i)
    else:
      odd.append(i)

  return odd, even

In [ ]:
print(split_odd_even(list(range(100))))

([1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99], [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98])

In [ ]:
def find_max(array):
  max = array[0]
  for i in array:
    if i > max:
      max = i
  return max

In [ ]:
print(find_max(list(range(100))))

99

In [ ]:
max(list(range(100)))

99

In [ ]:
def sum(array):
  sum = 0
  for i in array:
    sum += i
  return sum

def mean(array):
  res = sum(array)
  return (res / len(array))

In [ ]:
print(mean(list(range(100))))

49.5

In [ ]:
def manhattan_distance(point_1, point_2):
  x1, y1 = point_1
  x2, y2 = point_2
  distance = abs(x1 - x2) + abs(y1 - y2)
  return distance

In [ ]:
print(manhattan_distance((0,0),(2,2)))

4

In [ ]:
def fib(n):
  if n == 0 or n == 1:
    return 1
  return fib(n-1) + fib(n-2)

In [ ]:
print(fib(5))

8

In [ ]:
import math
import random

In [ ]:
print(math.pi)

3.141592653589793

In [ ]:
a = 10
print(math.sin(a))

-0.5440211108893698

In [ ]:
print(math.cos(a))

-0.8390715290764524

In [ ]:
print(math.sqrt(a))

3.1622776601683795

In [ ]:
print(math.log(a))

2.302585092994046

In [ ]:
print(math.tanh(a))

0.9999999958776927

In [ ]:
print(math.sin(a)**2 + math.cos(a)**2)

1.0

In [ ]:
print((math.sin(a)/math.cos(a) == math.tan(a)))

True

In [ ]:
help(math)

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

        The result is between 0 and pi.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(*integers)
        Greatest Common Divisor.

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    lcm(*integers)
        Least Common Multiple.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    nextafter(x, y, /)
        Return the next floating-point value after x towards y.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

    ulp(x, /)
        Return the value of the least significant bit of the float x.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)



---



---

elmangazayi@gmail.com